@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0;
    color: #C0BFBD;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
