.menu {
    background-color: #242625;
    width: 4vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.menu:hover {
    min-width: 210px;
    width: 14vw;
    align-items: normal;
}

.shapka-menu {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 50px;
}

.block-iconka {
    background-color: #A492FF;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}

.menu:hover .block-iconka {
    margin: 0 10px;
}

.zagolovok {
    color: #EFEFEF;
    font-weight: 700;
}

.email {
    font-weight: 400;
    font-size: 0.875em;
}

.pozishion {
    position: absolute;
    right: -40px;
}

.menu:hover .pozishion {
    right: -30px;
}

.nazad {
    display: none;
}

.menu:hover .nazad {
    display: block;
}

.menu:hover .vpered {
    display: none;
}

.footer-menu {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.footer-menu .iconka {
    display: none;
    margin-right: 10px;
}

.menu:hover .footer-menu .iconka {
    display: block;
}

.perekluchatel {
    background-color: #424444;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 3%;
    margin: 0 auto;
}

.perekluchatel img {
    background-color: #1E2020;
    box-shadow: 0px 1px 2px 0px #1E2020;
    border-radius: 50%;
    padding: 10%;
}

.menu:hover .perekluchatel img {
    background-color: #424444;
    box-shadow: 0px 1px 2px 0px #424444;
}