.pole {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 8px;
}

.menu:hover .pole {
    margin: 5px auto;
}

.pole:hover {
    background-color: #424444;
}

.iconka {
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
}

.menu:hover .iconka {
    margin: 0 10px;
}

.opisanie {
    width: 60%;
    display: none;
}

.menu:hover .opisanie {
    display: block;
}